@primary: #004AAD;

body {
  //background: #f1f1f1;
}

button {
  background: #e01a76;
  color: #fff;
  padding: 5px 10px;
  border: none;
  outline: none;

  &:disabled {
    background: #808080;
  }
}

.card {
  width: 12rem;
}
